body{
margin:0;
font-family:Poppins,sans-serif;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#181818;
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
color:#d4af37;
}

.logo span{
color:white;
font-size:16px;
display:block;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
transition:.3s;
}

nav a:hover{
color:#d4af37;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?auto=format&fit=crop&w=1600&q=80");
background-size:cover;
background-position:center;
}

.hero h1{
font-size:55px;
margin:0;
}

.hero p{
font-size:20px;
max-width:800px;
}

.btn{
display:inline-block;
padding:15px 35px;
background:#d4af37;
color:black;
font-weight:bold;
text-decoration:none;
border-radius:40px;
margin-top:25px;
}

.services{
padding:80px 8%;
}

.cards{
display:flex;
gap:25px;
flex-wrap:wrap;
}

.card{
flex:1;
min-width:250px;
background:#1d1d1d;
padding:30px;
border-radius:15px;
}

footer{
text-align:center;
padding:40px;
background:#181818;
margin-top:50px;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

.hero h1{
font-size:36px;
}

.cards{
flex-direction:column;
}

}
.whatsapp{
position:fixed;
right:20px;
bottom:20px;
width:65px;
height:65px;
background:#25D366;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:32px;
text-decoration:none;
color:white;
box-shadow:0 8px 25px rgba(0,0,0,.35);
transition:.3s;
z-index:999;
}

.whatsapp:hover{
transform:scale(1.1);
}
